<div class="navbar-fixed">
    <nav class="purple">
        <div class="nav-wrapper">
            <a href="../members" class="brand-logo">JobBook</a>
            <a href="../members" data-target="mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="../members">Home</a>
                </li>
                <li>
                    <a href="../saved">Saved Listings</a>
                </li>
                <li>
                    <a href="login.html">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li>
        <a href="members.html">Home</a>
    </li>
    <li>
        <a href="../saved">Saved Listings</a>
    </li>
    <li>
        <a href="login.html">Logout</a>
    </li>
</ul>