<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>JobBook</title>

        <link
        href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- GOOGLE FONTS -->
        <link
        href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Cantarell|Julius+Sans+One&display=swap" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link
        rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- <script src="/public/js/listing.js"></script> -->
        <link rel="stylesheet" href="stylesheets/style.css" type="text/css">

    </head>

    <body>
        <div class="container">
            {{{ body }}}
        </div>
        <!-- FONT AWESOME -->
        <script src="https://kit.fontawesome.com/b7ff529076.js"></script>
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/js/search.js"></script>
        <script src="https://kit.fontawesome.com/4a0e08e66c.js" crossorigin="anonymous"></script>
    </body>

</html>
